.contactinfo {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 1rem;
    display: flex
;
    /* flex-direction: column; */
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    justify-content: space-between;
    align-items: center;
}

.contact_description{
    margin-top: 15px;
    margin-bottom: 15px;
}