.contactinfo {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 1rem;
    /* display: flex; */
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    /* justify-content: space-between;
    align-items: center; */
}
.contactinfoTop {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.contactinfoBottom {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 30px;
}

.contact_description{
    margin-top: 15px;
    margin-bottom: 15px;
}

.cardContact {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
  transition: transform 0.2s linear;
    border: 1px solid #DCDCDC;
    border-radius: 18px;
        min-width: 330px;
    max-width: 330px;
}